<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Idealista</title>
</head>
<body>
<form th:action="home"  method="get">
    <input type="submit" value="Volver">
</form>
<div th:each="publicAd: ${ads}">

    <h2 th:if="${publicAd.typology != null}" th:text="${publicAd.typology}"></h2>

    <div th:if="${publicAd.description != null and publicAd.description != ''}">
        <br>
        <b>Descripcion: </b>
        <text th:text="${publicAd.description}"></text>
    </div>

    <div th:if="${publicAd.houseSize != null}">
        <br>
        <b>Tamaño Vivienda: </b>
        <text th:text="${publicAd.houseSize}"></text>
    </div>

    <div th:if="${publicAd.gardenSize != null}">
        <br>
        <b>Tamaño Jardin: </b>
        <text th:text="${publicAd.gardenSize}"></text>
    </div>

    <div th:if="${tipo == 'encargado' && publicAd.score != null}">
        <br>
        <b>Puntuacion: </b>
        <text th:text="${publicAd.score}"></text>
    </div>

    <div th:if="${tipo == 'encargado' && publicAd.irrelevantSince != null}">
        <br>
        <b>Irrelevante Desde: </b>
        <text th:text="${publicAd.irrelevantSince}"></text>
    </div>

    <div th:if="${publicAd.pictureUrls != null}" >
        <br>
        <b>Imagenes: </b>
        <p th:each="picture: ${publicAd.pictureUrls}"
           th:text="${picture}"></p>
    </div>
<hr>
</div>
</body>
</html>